<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>

    <!-- All non-disabled sources are active -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
</configuration>